<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>I recived your message from dangt85.heroku.com saying:</h3>
    <p>"<%= @contact.message %>"</p>
    <p>I will respond ASAP!</p>
    <p>Thanks,<br />
    Daniel Gonzalez</p>
  </body>
</html>
